<main class="page__main">
    @@label <h2>Main heading Here</h2>
            <article>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum quo optio nam fugit iure natus, dolorum excepturi quod atque pariatur alias impedit officiis ratione, quasi porro. Eveniet voluptas sunt nihil! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dolores aspernatur enim nisi nobis aut, autem beatae illum obcaecati eaque ducimus doloremque ab. Doloremque delectus unde, pariatur animi voluptate porro! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit delectus impedit aut dolorum veniam, mollitia eaque dolores obcaecati accusantium similique perferendis eligendi, consectetur natus non, dolor autem debitis tenetur. Voluptatem.
                </p>
            </article>       
</main>
