<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../main/styles.css">
</head>
<body>
    <header>
        <h1>Site Name</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </nav>
    <main>
        <h2>Main heading Here</h2>
        <article>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum quo optio nam fugit iure natus, dolorum excepturi quod atque pariatur alias impedit officiis ratione, quasi porro. Eveniet voluptas sunt nihil! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dolores aspernatur enim nisi nobis aut, autem beatae illum obcaecati eaque ducimus doloremque ab. Doloremque delectus unde, pariatur animi voluptate porro! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit delectus impedit aut dolorum veniam, mollitia eaque dolores obcaecati accusantium similique perferendis eligendi, consectetur natus non, dolor autem debitis tenetur. Voluptatem.
            </p>
        </article>       
    </main>
    <footer>
        <h3>Related info</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quisquam impedit esse deserunt provident perspiciatis, hic ad voluptatibus molestiae vel tempora vitae ut enim corrupti id pariatur. Soluta, ipsa necessitatibus.</p>
    </footer>
</body>
</html>